<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li class="nav-li"><a href="">home</a></li>
                <li class="nav-li"><a href="">cusos</a></li>
                <li class="nav-li"><a href="">instrutores</a></li>
                <li class="nav-li"><a href="">blog</a></li>

            </ul>
        </nav>

    </header>
    
    <main>
        <aside>
            <div>
                <ul>
                    <li>hola</li>
                </ul>
            </div>
        </aside>

        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, asperiores numquam suscipit a assumenda neque natus accusamus hic quis amet. Veniam voluptas impedit hic pariatur voluptatum minus inventore consequatur cum.
            Magni laborum sint impedit eveniet delectus assumenda, minima possimus? Perspiciatis dignissimos, eos adipisci accusamus incidunt a suscipit eveniet aut repellendus expedita, pariatur ipsa quae. Porro corporis soluta maiores delectus sed?
            Iusto dicta quos sint molestias quidem. Mollitia repellendus animi natus minus. Animi id sint impedit, quidem placeat perferendis minima nisi dicta veniam expedita illo nobis, soluta rerum quam dolor commodi?
            Consectetur qui id ipsa sapiente nesciunt sint totam magni at quam maiores voluptate, incidunt ipsum labore tenetur a ex quaerat soluta tempora quis doloribus eos rerum suscipit! Placeat, atque ex.
            Voluptatum inventore laudantium consequuntur enim quae, non nesciunt, odio dolorum totam placeat rem distinctio. Adipisci voluptatibus magni, beatae rem nostrum eligendi, fugit laudantium, atque expedita asperiores libero perspiciatis ex et.
            Ullam aspernatur placeat commodi minima nihil adipisci nobis libero quasi, doloribus soluta fugiat sequi eius voluptatem, accusantium omnis perferendis necessitatibus ipsa inventore quaerat. Quisquam porro illum ab dolore, ducimus expedita?
            Vitae alias vel dolorem maiores autem eveniet quae, quo nesciunt voluptatem ipsa. Doloremque dolorum commodi odio tempora quibusdam enim necessitatibus, ipsam fugit nesciunt. Omnis facilis adipisci hic deleniti nesciunt recusandae.
            Reprehenderit eos nam, dignissimos accusantium architecto quaerat veniam beatae? Cum unde, aperiam obcaecati quod repellendus dolor facilis. Nobis fuga laboriosam, praesentium, quis perspiciatis explicabo ullam quibusdam, vel expedita iure possimus?</p>

        </section>
      

    </main>
  

    <footer>

    </footer>
</body>
</html>